@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}




body{

    background-image: url(../image/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100vw;
    
}

.logos{
   position: relative;
    text-align: right;
}

div{
    
    
    text-align: right;
    position: absolute;
    right: 10px;
    top: 8px;
  
}


.logos .logo-rede{
    
    
    display:block;
    width: 42px;
    border-radius: 50%;
    right: 0px;
    margin:10px;
    margin-bottom: 15px;
    top: 20px;
    bottom: 30px;
   box-sizing: border-box;
    
          
}

.logo-rede:hover{
transition-duration: 180ms ;
border: 2px solid white ;
box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.575);



}




.celular{

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    
     
}

.home{

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 471px;
    width: 268px;
    
   

    
}














