@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}




body{

    background-image: url(../image/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100vw;
    
}

.logos{

    text-align: right;
}


.logos .logo-rede{
    
    
    width: 42px;
    border-radius: 50%;
    right: 0px;
    margin:10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    
          
}

.logo-rede:hover{

border: 1px solid white ;

}




.celular{

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    
     
}

.home{

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 471px;
    width: 268px;
    
    
}










