@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}




body{

    background-image: url(../image/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}


.logo-rede{
    
    width:42px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    position: absolute;
    margin-top: -30px;
    
    
    
 
}

.logo-rede:hover{
    
    width: 46px;
    transition-duration: 200ms;
    border: 2px solid white;
}


ul{

    text-align: right;
    margin-right:40px;
    list-style-type: none;
    
}

li{
    padding: 5px 0px;
    margin-top:25px;
    padding-top:25px;
    margin-right:30px;
    
    
   
}





.celular{
  
    text-align: center;
    margin-top: -150px;
     
}










